<h1>Bienvenidos <%= @usuarios %></h1>
<br/>
<%= form_tag({:controller => "logiandose", :action => "index"}, :method => "get") do %>
<p>Usuario:
<%= text_field_tag 'usuario', @usuario %></p>
<p>contrasena:
<%= text_field_tag 'contrasena', @contrasena %></p>
<p>
<%= submit_tag "Identificarse." %>
</p>
<%end%>
