 <div id="fondo">
 	<%= image_tag("fondo.png") %>
 </div>
 <div id="reg_estudiante">
 <form>
 		<%= form_tag({:controller => "usuario_estudiante", :action => "index"}, :method => "post") do %>
    <div class="input"> 
    Usuario: <br> <br> <p id="usu">  <%= text_field_tag 'usuario', @usuario%> </p>
     Carnet: <br> <p id="cart"> <%= text_field_tag 'carnet', @carnet%> </p>
     Contraseña: <br> <p id="contra">  <%= password_field_tag 'contrasena',@contrasena%> </p>
     <p id="entra"></p> <%= submit_tag 'registrase' %>
 </div>
<%end%>
 </form>
 </div>
