<%= form_with(model: registro_estudiante, local: true) do |form| %>
  <% if registro_estudiante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registro_estudiante.errors.count, "error") %> prohibited this registro_estudiante from being saved:</h2>

      <ul>
      <% registro_estudiante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usuario %>
    <%= form.text_field :usuario, id: :registro_estudiante_usuario %>
  </div>

  <div class="field">
    <%= form.label :carnet %>
    <%= form.text_field :carnet, id: :registro_estudiante_carnet %>
  </div>

  <div class="field">
    <%= form.label :contra %>
    <%= form.text_field :contra, id: :registro_estudiante_contra %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
