<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @registro_estudiante.usuario %>
</p>

<p>
  <strong>Carnet:</strong>
  <%= @registro_estudiante.carnet %>
</p>

<p>
  <strong>Contra:</strong>
  <%= @registro_estudiante.contra %>
</p>

<%= link_to 'Edit', edit_registro_estudiante_path(@registro_estudiante) %> |
<%= link_to 'Back', registro_estudiantes_path %>
