<!DOCTYPE html>
<html>
<head>
	<title>usuario_estudiante</title>

</head>
<body>


  	<div id="preguntas_estudiante">
		  <%= image_tag("fondo.png") %>
	  </div>

<div class="row">
<div id="ya" class="col-lg-2">
<div id="term"><%= image_tag("imagen1.png") %></div>
<div id="term1"><%= image_tag("imagen2.png") %></div>
<div id="term1"><%= image_tag("imagen3.png") %></div>
<div id="term"><%= image_tag("imagen4.png") %></div>

<input class="check1" type="checkbox" name="" checked="true">

<div id="term1"><%= image_tag("imagen6.png") %></div>
</div>
<div  id="color" class="col-lg-10" bacgraungcolor="blue">
    <div class="col-lg-12" >
    	<div>
        
        	<aside id="aside_estudiante">
	        <div id="btn_cate_estudiante"> CATEGORIAS </div>
			      <div id="lista_categoria_estudiante">
				  <a href="" > Ing.Telematica</a> <br>
				    <a href=""> Ing.Sistema</a>
		      </div>
			
	      </aside>
    	
    	</div>
    </div>
</div>
	
</div>

</body>
</html>