<!DOCTYPE html>
<html>
<head>
	<title>usuario_estudiante</title>

</head>
<body>
<div class="row">
<div id="ya" class="col-lg-2">
<div id="term"><%= image_tag("imagen1.png") %></div>
<div id="term1"><%= image_tag("imagen2.png") %></div>
<div id="term1"><%= image_tag("imagen3.png") %></div>
<div id="term"><%= image_tag("imagen4.png") %></div>

<input type="checkbox" name="" checked="true">

<div id="term1"><%= image_tag("imagen6.png") %></div>
</div>
<div  id="color" class="col-lg-10" bacgraungcolor="blue">
    <div class="col-lg-12" >
    	<div>
    		Que funcion hay en C para recervar memoria?

    		esta es la repuesta 
    	</div>
    </div>
</div>
	
</div>


</body>
</html>