<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre apellido:</strong>
  <%= @reg_profe.nombre_apellido %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @reg_profe.usuario %>
</p>

<p>
  <strong>Contrasena:</strong>
  <%= @reg_profe.contrasena %>
</p>

<p>
  <strong>Email:</strong>
  <%= @reg_profe.email %>
</p>

<%= link_to 'Edit', edit_reg_profe_path(@reg_profe) %> |
<%= link_to 'Back', reg_proves_path %>
